<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.douzone.springcontainer.User1" />

	<bean id="usr" name="user" class="com.douzone.springcontainer.User" />
	
	<bean class="com.douzone.springcontainer.User" />
	<!-- 
	<bean id="usr2" class="com.douzone.springcontainer.User">
		<constructor-arg value="둘리" />
	</bean>
	 -->
	 <bean id="usr2" class="com.douzone.springcontainer.User">
		<constructor-arg value="둘리" />
		<property name="freinds">
			<list> <!-- list 타입이 String이 아니라 객체타입이면 -->
				<value>마이콜</value> <!-- 여기를 bean으로 설정해주어야한다. -->
				<value>도우넛</value>
				<value>또치</value>
			</list>
		</property>
	</bean>
	
	<bean id="usr3" class="com.douzone.springcontainer.User">
		<constructor-arg index="0" value="마이콜" />
		<constructor-arg index="1" value="1" />
	</bean>

	<bean id="friend" class="com.douzone.springcontainer.Friend">
		<property name="name" value="도우넛" />
	</bean>

	<bean id="usr4" class="com.douzone.springcontainer.User">
		<constructor-arg value="또치" />
		<constructor-arg value="2" />
		<property name="friend">
			<bean class="com.douzone.springcontainer.Friend">
				<property name="name" value="도우넛" />
			</bean>
		</property>
	</bean>
	
	<bean id="usr5" class="com.douzone.springcontainer.User">
		<constructor-arg value="또치" />
		<constructor-arg value="2" />
		<property name="friend" ref="friend"/> <!-- 바깥에서 생성된 bean을 주입하는 방법 -->
	</bean>
</beans>
